<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ipl</title>
</head>

{% block main %}
<body class="m-auto">
    <h1>Extraruns conceded by teams in year 2016</h1>

    <table border="2px">
        <tr>
            <th>Batting team</th>
            <th>Extra runs</th>
        </tr>
    {% for teams in result%}
    <tr>
        <td>{{teams.batting_team}}</td>
        <td>{{teams.extraruns}}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
</body>
</html>