<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>played</title>
</head>

<body>
    <h1>Total matches played by teams</h1>
    <table border="2px">
        <tr>
            <th>Team</th>
            <th>Total matches win</th>
        </tr>

        {% for teams in result %}
        <tr>
            <td>{{teams.team1}}</td>
            <td>{{teams.win}}</td>
        </tr>

        {% endfor %}
    </table>


</body>

</html>