<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>bowler</title>
</head>
<body>
    <h1>Top 10 economical bowlers in 2015 </h1>
    <table border="2px">
        <tr>
            <th>Bowler</th>
            <th>Economy</th>
        </tr>
    {% for teams in result%}
    <tr>
        <td>{{teams.bowler}}</td>
        <td>{{teams.economy}}</td>
    </tr>
    {% endfor %}

</table>
</body>
</html>