<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>won</title>
</head>
<body>
    <h1>Number of matches won by teams per year</h1>
    <table border="2px">
        <tr>
            <th>season</th>
            <th>team</th>
            <th>win</th>
        </tr>
        {% for teams in result%}
        <tr>
            <td>{{teams.season}}</td>
            <td>{{teams.winner}}</td>
            <td>{{teams.win}}</td>
        </tr>
        {% endfor %}
    </table>
</body>
</html>